.model-overlay {
    margin-top: 10px;
}



.model-close {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.show-modal {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.model-close:hover {
    background-color: #c82333;
}
.show-modal:hover {
    background-color: #c82333;
}

.model-p {
    font-size: 16px;
    color: black;
}